<app-menu></app-menu>

<!-- Page Content -->
<div class="container">
    <div class="row">

        <div class="col-lg-3">
            <aside>
                <h1 class="my-4">Shop Sách</h1>
                <h3>Thể loại</h3>
                <div *ngFor="let genre of genres" class="list-group">
                    <a [routerLink]="['the-loai', genre.id]" class="list-group-item">{{genre.name}}</a>
                    
                </div>
            </aside>

        </div>
        <!-- /.col-lg-3 -->
            <main class="col-lg-9">
                <router-outlet></router-outlet>
                <!-- /.row -->
            </main>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
    
</div>
<footer class="py-5 bg-primary">
    <div  class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>
