<div class="col-lg-9">
    <ng-container *ngFor="let bo of book">
        <div *ngIf="bo.id==bookID" class="card mt-4">
            <img class="card-img-top img-fluid" width="500px" src="{{bo.image.name}}" alt="">
            <div class="card-body">
                <h3 class="card-title">{{bo.name}}</h3>
                <h4>$24.99</h4>
                <p class="card-text">{{bo.author}}</p>
                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                4.0 stars
            </div>
        </div>
        <!-- /.card -->

        <div *ngIf="bo.id==bookID" class="card card-outline-secondary my-4">
            <div class="card-header">
                Book Reviews
            </div>
            <div class="card-body">
                <p>{{bo.description}}</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>

                <hr>
                <a href="#" class="btn btn-success">Leave a Review</a>
                <hr>
            </div>
        </div>
        <!-- /.card -->

    </ng-container>
</div>
<!-- /.col-lg-9 -->